**/.hg/*

*.bak
*.bash_history
*.c9/*
*.lock
*.log
*.swp
*.tmp
homeautomation/esphome/*/.pioenvs/*
homeautomation/esphome/.esphome/*
homeautomation/esphome/.gitignore
homeautomation/esphome/.hgignore
homeautomation/esphome/a_generic/*
homeautomation/esphome/bed_hx711/*
homeautomation/esphome/bed_scale/*
homeautomation/esphome/car_bmw/*
homeautomation/esphome/car_hyundai/*
homeautomation/esphome/dehu_bme280/*
homeautomation/esphome/dehumidifier_s31/*
homeautomation/esphome/foobar/*
homeautomation/esphome/fubar.yaml
homeautomation/esphome/fubar/*
homeautomation/esphome/kitty_feeder_s31//*
homeautomation/esphome/mba_bme280/*
homeautomation/esphome/mbr_hx711/*
homeautomation/homeassistant/.HA_VERSION
homeautomation/homeassistant/.homekit.state
homeautomation/homeassistant/.ios.conf
homeautomation/homeassistant/.storage/*
homeautomation/homeassistant/.uuid
homeautomation/homeassistant/OZW_Log.txt
homeautomation/homeassistant/harmony*
homeautomation/homeassistant/home-assistant_v2.db
homeautomation/homeassistant/home-assistant_v2.db-shm
homeautomation/homeassistant/home-assistant_v2.db-wal
homeautomation/homeassistant/icloud/*
homeautomation/homeassistant/options.xml
homeautomation/homeassistant/pyozw.sqlite
homeautomation/homeassistant/secrets.yaml
homeautomation/homeassistant/www/lovelace-fold-entity-row/
homeautomation/homeassistant/www/lovelace-fold-entity-row/.git*
homeautomation/homeassistant/www/lovelace-fold-entity-row/Makefile
homeautomation/homeassistant/www/lovelace-fold-entity-row/README.md
homeautomation/homeassistant/www/lovelace-fold-entity-row/src/main.js
homeautomation/homeassistant/zwcfg*.xml
homeautomation/monitor/config/.public_name_cache
media/airvideohd/airvideohd/Cache/*
media/jackett/*
media/lazylibrarian/cache/*
media/lazylibrarian/lazylibrarian.db
media/plexms/config/*
media/plexms/config/Library/Application Support/Plex Media Server/Cache/*
media/plexms/media/*
media/qbittorrent/data/*
media/qbittorrent/data/qBittorrent/BT_backup/*
media/qbittorrent/data/qBittorrent/logs/*
media/qbittorrent/data/qBittorrent/logs/qbittorrent.log
media/qbittorrent/qBittorrent/qBittorrent-data.conf*
media/qbittorrent/qBittorrent/rss/feeds.json
media/qbittorrent/qBittorrent/rss/storage.lock
media/radarr/*.db
media/radarr/*.db-shm
media/radarr/*.db-wal
media/radarr/Backups/*
media/radarr/MediaCover/*
media/radarr/logs.*
media/radarr/logs/*
media/radarr/nzbdrone.db-shm
media/radarr/nzbdrone.db-wal
media/radarr/nzbdrone.pid
media/sonarr/*.db
media/sonarr/*.db-shm
media/sonarr/*.db-wal
media/sonarr/Backups/*
media/sonarr/MediaCover/*
media/sonarr/logs.*
media/sonarr/logs/*
media/sonarr/nzbdrone.db-shm
media/sonarr/nzbdrone.db-wal
media/sonarr/nzbdrone.pid
network/mariadb/*
network/phpmyadmin/*
network/pihole/pihole/*.domains
network/pihole/pihole/*.list
network/pihole/pihole/GitHubVersions
network/pihole/pihole/dns-servers.conf
network/pihole/pihole/list.*
network/pihole/pihole/localbranches
network/pihole/pihole/localversions
network/pihole/pihole/pihole-FTL.conf
network/pihole/pihole/pihole-FTL.db
network/pihole/pihole/setupVars.conf
network/pihole/pihole/setupVars.conf.update.bak
network/portainer/data/*
